@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/flying.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
 
.icon-case {
  position: absolute;
  z-index: 1;
  font-size: 5em;
  color: white;
}

.icon-pass{
  position: absolute;
  z-index: 1;
  font-size: 5em;
  color: white;
}

.icon-gate-1{
  position: absolute;
  z-index: 1;
  font-size: 5em;
  color: white;
}

.bttn {
  display: inline-block;
  margin: 10em;
}

.icon-case:hover,
.icon-case:active,
.icon-case:focus {
  color:#d7222e;
}

.icon-pass:hover,
.icon-pass:active,
.icon-pass:focus {
  color:#d7222e;
}
  
.icon-gate-1:hover,
.icon-gate-1:active,
.icon-gate-1:focus {
  color:#d7222e;
}
  
  

@media only screen and (min-width: 20em) {
  
    
}

@media only screen and (min-width: 44em) {
  
          
}

@media only screen and (min-width: 60em) {
  
  
}